@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,500italic,400italic,100italic,900italic,300italic,700italic,800italic);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
}
  /*nav barre*/
  
nav {
  width: 100vw;
  height: 50px;
  position: sticky;
  display: flex;
  justify-content: flex-end; 
  background-color:#b85042;
  opacity: 1;
  top: 0;
  z-index: 1;
}
  
nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30rem;
  margin-left: auto;
  margin-right: auto;
}

nav a { 
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: arial,x-locale-body,sans-serif;
}

main {
  height: 150vh;
  max-height: 100%;
  overflow-x: hidden;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-perspective-origin: center top;
          perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 0 40px;
  font: 36px/1.6 Alegreya Sans, serif;
}

header {
  height: 80vh;
  background: url("image/graduation.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

section {
  min-height: 200vh;
  background: white;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding: 50px 0;
}


p {
  font-size: 18px;
  font-size: 300;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

html, body {
  height: 100%;
}

body {
  background: black;
  font-family: Georgia, serif;
    font-size: 18px;
    line-height: 24px;
}

h1 {
  font-size: 50px;
  line-height: 1.125;
  text-align: center;
  font-weight: normal;
  padding: auto;
  padding: auto;
}

.contained {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 500px) {
  .contained {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .contained {
    width: 60%;
  }
}

h2{
    font-weight: 300;
    font-size: 30px;
}

footer {
    width: 100%;
    height: 30vh;
    background: black;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
}
  
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: block;
  padding: .4rem .7rem;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  color: #b85042;
}