*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}



nav {
  width: 100vw;
  height: 50px;
  position: sticky;
  display: flex;
  justify-content: flex-end; 
  background-color: #b85042;
  opacity: 1;
  top: 0;
  z-index: 1;
}

nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

nav a { 
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: arial,x-locale-body,sans-serif;
}


  



header {
  color: white;
  background: #1c262b;
  padding: 10rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 43.75em) {
  header {
    padding: 2rem 0;
  }
}

header h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

@media (max-width: 43.75em) {
  header h1 {
    font-size: 2rem;
  }
}

header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

@media (max-width: 43.75em) {
  header h2 {
    font-size: 1.5rem;
  }
}




.bg-image {
  background: #1c262b;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-image:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333 url("image/library1.jpeg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}




div#conteneur
{
  width: 770px ;
  margin: 0 auto ;
  text-align: left ;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: black;
}





div#contenu
{
  padding: 0 25px 0 30px ;
  background: url(image/fffff.png) no-repeat 1px 1px ;
  background-size: 0pc;
} 


div#contenu h3
{
  margin-left: 15px ;
  padding-left: 5px ;
  border-bottom: 1px solid #b85042 ;
  border-left: 3px solid #b85042 ;
  color: #b85042 ;
  font-weight: 300;
  font-size: 30px;
}

div#contenu p
{
  text-align: justify ;
  text-indent: 2em ;
  line-height: 1.7em ;
}



pre
{
  overflow: auto ;
  background: #dea ;
  border: 2px solid #9b2 ;
  padding: 5px 0 0 5px ;
  font-size: 1.2em ;
}

* html pre
{
  width: 636px ;
}

pre span
{
  color: #560 ;
}

pre span.comment
{
  color: #b30000 ;
}



footer {
    background: black;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.4);
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer ul li a {
    display: block;
    padding: .4rem .7rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
  footer ul li a:hover {
    color: #b85042;
  }
  
header h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

@media (max-width: 43.75em) {
  header h1 {
    font-size: 2rem;
  }
}

header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

@media (max-width: 43.75em) {
  header h2 {
    font-size: 1.5rem;
  }
}
