*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
  
html{
    overflow-x: hidden;
}
  
body{
    background-color: #FFF5EE;
}  

nav {
    width: 100vw;
    height: 50px;
    position: sticky;
    display: flex;
    justify-content: flex-end; 
    background-color: #b85042;
    opacity: 1;
    top: 0;
    z-index: 1;
}

nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  
nav a { 
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: arial,x-locale-body,sans-serif;
}

header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

.overlay{
	width: 100%;
	height: 100%;
	padding: 200px;
	color: white;
	text-shadow: 1px 1px 1px #333;
    background-image: url("image/livre1.jpg");
    background-attachment: fixed;
}

a:hover{
    text-decoration: none;
}

.container{
    padding: 0 20px;
    margin: auto;
}

@media (min-width: 400px) {
    .container {
      width: 80%;
    }
}

p{
    padding: 0 10px;
    font-family: arial, verdana, sans-serif;
    font-size: 12pt;
}

h1{
    font-size: 25pt;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
}

h2{
    padding: 0 50px;
    font-size: 20pt;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
}

h3 {
	font-family: cursive;
	font-size: 50pt;
}

a{
    color: black;
}

.a_la_ligne{
    padding: 0 70px;
    font-family: arial, verdana, sans-serif;
    font-size: 12pt;
}

footer {
  background: black;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.4);
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: block;
  padding: .4rem .7rem;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  color: #b85042;
}



